<header class="d-flex justify-content-between align-items-center px-4 text-bg-dark border-bottom shadow-sm"
        style="position: fixed; top: 0; left: 280px; right: 0; height: 60px; z-index: 1030;">
    <div class="col">
        <div id="search" class="w-50 position-relative">
            <div id="searchInputDiv" class="input-group">
                <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input id="searchInput" class="form-control" type="text" placeholder="search" aria-label="search" autocomplete="off">
            </div>
        </div>
    </div>
    <div class="col align-content-center text-end">
        {% if request.user.is_authenticated %}
            <h4 class="mb-0">Hello, {{ request.user.first_name }}</h4>
        {% endif %}
    </div>
</header>
<hr>