{% extends 'theme/base.html' %}
{% load crm_extras %}

{% block content %}
<div id="activityDiv-{{ activity.pk }}">
{% for fieldset in activity.get_fieldsets %}
    <fieldset>
        <h3 class="p-3 mb-0 bg-secondary text-white">{{ fieldset.title }}</h3>
        {% for field in fieldset.fields %}
            {% if field|get_type == "list" %}
                <div class="field-group py-3 m-0 row border border-1">
                    {% for f in field %}
                        <div class="col {% if forloop.first %}border-end{% endif %}">
                            <p class="fw-bold fs-5 m-auto border-bottom">{{ f.label }}</p>
                            <p>{% if f.label == "Description" %}{{ f.field|safe }}{% else %}{{ f.field }}{% endif %}</p>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="field-group py-3 m-0 row border border-1 {% if not field.label == "Description" %}w-50{% endif %}">
                    <p class="fw-bold fs-5 m-auto border-bottom">{{ field.label }}</p>
                    <p>{% if field.label == "Description" %}{{ field.field|safe }}{% else %}{{ field.field }}{% endif %}</p>
                </div>
            {% endif %}
        {% endfor %}
    </fieldset>
{% endfor %}
</div>
{% endblock %}