{% extends 'theme/base.html' %}

{% block content %}
	<div class="my-3 container-fluid">
        <div class="d-flex justify-content-between align-items-center">
            <h3 class="mb-0">Customers</h3>
            <a href="{% url 'add-customer' %}">Add customer</a>
        </div>

        <table id="customersTable" class="table table-bordered table-striped table-hover">
            <thead class="table-primary">
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Policies</th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for customer in customers %}
                    <tr onclick="window.location='{% url 'customer' customer_pk=customer.id %}'" class="tr-link">
                        <td>{{ customer.first_name }}</td>
                        <td>{{ customer.last_name }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.get_policies }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}