{% extends 'theme/base.html' %}
{% load crm_extras %}

{% block content %}
    <div class="d-flex justify-content-between">
        <div id="middleContent" class="col-8">
            <div id="customerInfo" class="col border rounded-2 me-3 p-0 bg-darker">
                <div class="d-flex flex-row container-fluid bg-secondary-subtle">
                    <h1 class="me-2 mb-0 align-content-center"><i class="fa-solid fa-city fa-icon"></i></h1>
                    <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
                        <div class="d-flex align-content-between">
                            <p class="mb-0 fs-4">{{ customer }}</p>
                            {% if customer.has_household %}
                            <a class="mb-0 fs-4 ms-3" href="{% url 'view-household' household_pk=customer.has_household.pk %}">Go to household</a>
                            {% else %}
                            <a class="mb-0 fs-4 ms-3">Add Household</a>
                            {% endif %}
                        </div>
                        <a class="link-dark" href="{% url 'edit-customer' customer_pk=customer.pk %}"><i class="fa-solid fa-pen-to-square"></i></a>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div class="col p-3">
                        <p class="mb-0">Street Address</p>
                        <p class="mb-0">
                        {% with street_address=customer|get_street_adr_str %}
                            {% if street_address %}
                            <a id="customerAddress" class="link" href="https://www.google.com/maps/?&q={{ street_address }}" target="_blank">
                                {{ customer.street_address }}{% if customer.street_address_1 is not None %}, {{ customer.street_address_2 }}{% endif %}
                                <br>
                                {{ customer.city }}, {{ customer.state }} {{ customer.zip_code }}
                            </a>
                            {% endif %}
                        {% endwith %}
                        </p>
                    </div>
                    <div class="col p-3">
                        <p class="mb-0">Birthday</p>
                        <p class="mb-0">{{ customer.date_of_birth|date:"m/d/Y" }}</p>
                    </div>
                </div>
            </div>

            <div id="policiesDiv" class="col border rounded-2 me-3 p-0 mt-5 bg-darker">
                <div class="d-flex flex-row container-fluid bg-secondary-subtle">
                    <h1 class="me-2 mb-0 align-content-center"><i class="fa-solid fa-file fa-icon"></i></h1>
                    <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
                        <p class="mb-0 fs-4">Policies</p>
                        <a class="link-dark" href="{% url 'add-policy' customer_pk=customer.pk %}">Add policy</a>
                    </div>
                </div>
                <div class="px-2 mt-3" style="overflow: auto; max-height: 450px; height: auto">
                    {% for policy in customer.policies.all %}
                        {% if activity.policy != "completed" %}
                        <div class="row mb-2 c-link p-2 mx-0 border rounded-2" onclick="window.location='{% url 'view-policy' customer_pk=customer.pk policy_pk=policy.pk %}'">
                            <div class="col">
                                <p class="mb-0">Type</p>
                                <p class="mb-0">{{ policy.get_policy_type }}</p>
                            </div>
                            <div class="col mb-0">
                                <p class="mb-0">Insurer</p>
                                <p class="mb-0">{{ policy.insurer }}</p>
                            </div>
                            <div class="col mb-0">
                                <p class="mb-0">Premium</p>
                                <p class="mb-0">{{ policy.premium_amount }}</p>
                            </div>
                            <div class="col mb-0">
                                <p class="mb-0">Start Date</p>
                                <p class="mb-0">{{ policy.start_date | date:"m/d/Y" }}</p>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>

            <div id="activitiesDiv" class="col border rounded-2 me-3 p-0 mt-5 bg-darker">
                <div class="d-flex flex-row container-fluid bg-secondary-subtle">
                    <h1 class="me-2 mb-0 align-content-center"><i class="fa-solid fa-clipboard fa-icon"></i></h1>
                    <div class="d-flex justify-content-between align-items-center" style="width: 100%;">
                        <p class="mb-0 fs-4">Activities</p>
                        <a class="link-dark" href="{% url 'new-activity' customer_pk=customer.pk %}">Add activity</a>
                    </div>
                </div>
                <div class="px-2 mt-3" style="overflow: auto; max-height: 450px; height: auto">
                    {# Nav tabs #}
                    <ul class="nav nav-tabs mb-3">
                        <li class="nav-item">
                            <span class="nav-link active tab-span" data-content="in_progress" data-target="in_progress_content">In Progress</span>
                        </li>
                        <li class="nav-item">
                            <span class="nav-link tab-span" data-content="completed" data-target="completed_content">Completed</span>
                        </li>
                    </ul>
                    {# In progress activities #}
                    <div id="in_progress_content" data-expanded="true">
                    {% for activity in customer.activities.all %}
                        {% if activity.status != "completed" %}
                        <div class="card mb-2 c-link" onclick="window.location='{% url 'activity' customer_pk=customer.pk activity_pk=activity.pk %}'">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h5 class="card-title mb-0">{{ activity.status | unslugify | title }}</h5>
                                    <h6 class="card-subtitle mt-0">{% if activity.due_date %}{{ activity.due_date }}{% else %}Due date not set{% endif %}</h6>
                                </div>
                                <p class="card-text">{{ activity.subject | truncatechars:100}}</p>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                    {# Completed activities #}
                    <div id="completed_content" data-expanded="false" hidden>
                    {% for activity in customer.activities.all %}
                        {% if activity.status == "completed" %}
                        <div class="card mb-2 c-link" onclick="window.location='{% url 'activity' customer_pk=customer.pk activity_pk=activity.pk %}'">
                            <div class="card-body">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                    <h5 class="card-title mb-0">{{ activity.status | unslugify | title }}</h5>
                                    <h6 class="card-subtitle mt-0">{{ activity.due_date }}</h6>
                                </div>
                                <p class="card-text">{{ activity.subject | truncatechars:100}}</p>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="rightContent" class="col-4">
            <div id="contactInfo" class="border rounded-2 me-3 p-0 mb-3 bg-darker">
                <div class="d-flex flex-row container-fluid bg-secondary-subtle align-items-center">
                    <h1 class="me-2 mb-0 align-content-center"><i class="fa-solid fa-address-card fa-icon"></i></h1>
                    <p class="mb-0 fs-4">Contact Card</p>
                </div>
                <div class="d-flex flex-col flex-wrap flex-grow-1">
                    <div id="customerPhones" class="border border-1 p-3 container-fluid m-3 rounded-2">
                        <p class="mb-1 fs-6"><i class="fa-solid fa-phone fa-icon"></i> Phone</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">(m) {% if customer.phone %}{{ customer.phone }}{% endif %}</li>
                            <li class="list-group-item">(s) {% if customer.secondary_phone %}{{ customer.secondary_phone }}{% endif %}</li>
                            <li class="list-group-item">(o) {% if customer.other_phone %}{{ customer.other_phone }}{% endif %}</li>
                        </ul>
                    </div>
                    <div id="customerEmail" class="border border-1 p-3 container-fluid m-3 rounded-2">
                        <p class="mb-1 fs-6"><i class="fa-solid fa-envelope fa-icon"></i> Email</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{% if customer.email %}{{ customer.email }}{% endif %}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="customerNotes" class="border rounded-2 me-3 p-0 bg-darker">
                <div class="d-flex flex-row container-fluid bg-secondary-subtle align-items-center">
                    <h1 class="me-2 mb-0 align-content-center"><i class="fa-solid fa-note-sticky fa-icon"></i></h1>
                    <p class="mb-0 fs-4">Customer Notes</p>
                </div>
                <div class="p-3">
                    <p class="mb-0">{{ customer.notes|safe }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}