{% extends 'theme/base.html' %}

{% block content %}
	<div class="row my-4 mx-auto justify-content-evenly">
        <div class="card col-3">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="mb-0">Today's tasks</h3>
                <a href="{% url 'activities' %}">View All</a>
            </div>
            <div id="todays-activities-list" class="list-group list-group-flush">
                {% for activity in todays_activities %}
                <a class="list-group-item list-group-item-action" href="{% url 'activity' customer_pk=activity.client.pk activity_pk=activity.id %}">
                    <div class="d-flex justify-content-between w-100">
                        <h5 class="mb-1">{{ activity.client }}</h5>
                        <small>{{ activity.due_date }}</small>
                    </div>
                    <p class="mb-1">{{ activity.subject|truncatechars:50 }}</p>
                </a>
                {% endfor %}
            </div>
        </div>

        <div class="card col-3">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="mb-0">Activities</h3>
                <a href="{% url 'activities' %}">View All</a>
            </div>
            <div id="activities-list" class="list-group list-group-flush">
                {% for activity in activities %}
                <a class="list-group-item list-group-item-action" href="{% url 'activity' customer_pk=activity.client.pk activity_pk=activity.id %}">
                    <div class="d-flex justify-content-between w-100">
                        <h5 class="mb-1">{{ activity.client }}</h5>
                        <small>{{ activity.due_date }}</small>
                    </div>
                    <p class="mb-1">{{ activity.subject|truncatechars:50 }}</p>
                </a>
                {% endfor %}
            </div>
        </div>

        <div class="card col-3">
            <div class="card-header d-flex justify-content-between align-items-center">
                <h3 class="mb-0">Customers</h3>
                <a href="{% url 'customers' %}">View All</a>
            </div>
            <div id="customers-list">
                <ul class="list-group list-group-flush rounded-2">
                {% for customer in customers %}
                    <a class="list-group-item list-group-item-action p-2" href="{% url 'customer' customer_pk=customer.pk %}">{{ customer }}</a>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}