{% extends 'theme/base.html' %}
{% load static crm_extras %}

{% block content %}
    <div class="container-fluid">
        <div class="d-flex justify-content-between mb-3 border-bottom align-items-center">
            <h3 class="mb-0">User Settings</h3>
            <a href="{% url 'edit-settings' pk=request.user.pk %}">Edit</a>
        </div>
        <div id="topSection" class="position-relative">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% get_media_prefix %}{{ settings.profile_picture }}" alt="profile picture">
                <div class="card-body">
                    <h5 class="card-title">{{ request.user.first_name }} {{ request.user.last_name }}</h5>
                    <p class="card-text">{{ settings.bio }}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Date of birth: {% if settings.date_of_birth %}{{ settings.date_of_birth }}{% else %}not listed{% endif %}</li>
                    <li class="list-group-item">Theme preference: {{ settings.theme_preference }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}