<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ gtag }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{ gtag }}');
    </script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}{{ title }}{% endblock %} | Asset Guard Southwest</title>
    <link rel="icon" href="{% static 'img/favicon_transparent.ico' %}">
    <!-- FA kit -->
    <script src="https://kit.fontawesome.com/4a75a4df45.js" crossorigin="anonymous"></script>

    {% block extra_head %}{% endblock %}
</head>
<body class="{% block body_class %}d-flex flex-nowrap{% endblock %} {% if request.user.is_authenticated %}{{ request.user.user_settings.theme_preference }}-theme{% else %}auto-theme{% endif %}">
{#<body class="{% block body_class %}d-flex flex-nowrap{% endblock %}">#}
    {% block sidebar %}
        <!-- Sidebar -->
        {% include 'theme/includes/sidebar.html' %}
    {% endblock %}

    {% block outer_block %}
    <div class="container-fluid">
        {% block header %}
            <!-- Header -->
            {% include 'theme/includes/header.html' %}
        {% endblock %}

        <!-- Main -->
        <main id="mainContent" class="{% block main_class %}flex-grow-1 overflow-auto pt-5 px-4{% endblock %}">
            {% block content %}{% endblock %}
        </main>
    </div>
    {% endblock %}

    {% block modal_content %}{% endblock %}

{% block extra_js %}{% endblock %}
<script src="{% static 'js/crm.bundle.js' %}"></script>
</body>
</html>