:root {
  /*--primary: #00A5A5;*/
  --primary: #01364F;
  --primary-dark: #00293a;
  --gray-dark: #2E2E2E;
  --gray-light: #F5F5F5;
  --accent: #FFC107;
  --white: #FFFFFF;
  --c-error: #ff0033;
}

/* GLOBAL RESET & TYPOGRAPHY */
html, body {
  font-family: sans-serif;
  height: 100%;
  overflow: hidden;
}

body {
  background-color: var(--gray-light);
  color: var(--gray-dark);
}

/* CUSTOM STYLES */
.fa-icon {
  color: #02364D;
}

.list-object {

}

.activity:hover, .list-object:hover {
  background: #aaaaaa;
  cursor: pointer;
  transition: all linear 0.25s;
}

header {
  background-color: var(--gray-light);
  border-bottom: 2px solid var(--primary);
}

.tr-link, .c-link {
  transition: all linear 0.15s;
}

.tr-link:hover, .c-link:hover {
  cursor: pointer;
}

.c-link:hover {
  background-color: lightgray;
}

#activities-list {
  /*border: 1px solid var(--gray-dark);*/
  /*border-radius: 0.5rem;*/
  overflow: hidden;
}

/* All activity items get a bottom border for separation */
#activities-list .activity {
  border-bottom: 1px solid var(--gray-dark);
  background-color: var(--white);
}

/* Remove the bottom border from the last one */
#activities-list .activity:last-child {
    border-bottom: none;
    border-right: 0.5rem;
}

#activities-list .activity:hover {
  background-color: #e9f7f7;
  cursor: pointer;
}

#usersDiv {
  background: var(--gray-light);
  border-radius: 0.5em;
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
  position: absolute;
  width: 100%;
}

.user-dropdown-item {
  border-radius: 0.2em;
  color: var(--gray-dark);
  padding: 0.2rem;
}

.user-dropdown-item:hover {
  background: var(--gray-dark);
  color: var(--gray-light);
}

.active-item {
  background: var(--gray-dark);
  color: var(--gray-light);
}

#collapseSpan {
  background: var(--gray-light);
  border-radius: 0.2rem;
  font-size: 2rem;
  padding: 0 0.5rem;
  transition: all linear 115ms;
}

#collapseSpan:hover {
  background: var(--gray-dark);
  color: var(--gray-light);
  cursor: pointer;
}

/* Form Styling */
.error {
  color: var(--c-error);
  font-style: italic;
}

/* Loading styles */
.loading {
  filter: blur(5px);
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/** Django Prose Editor **/
.trix-content {
  background: white;
}

.trix-content:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 0.2rem rgba(0, 165, 165, 0.25);
}