{% extends 'theme/base.html' %}
{% load static crm_extras %}

{% block main_class %}flex-grow-1 overflow-auto{% endblock %}

{% block content %}
	<div class="container my-5 pt-4" style="max-height: calc(100vh - 100px); overflow-y: auto;">
        <div class="d-flex justify-content-between mb-3 border-bottom">
            <h3 class="mb-0">{% if action == "add" %}Add new{% else %}Edit{% endif %} customer</h3>
        </div>

        <form id="customerForm" method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
                {{ form.non_field_errors }}
            {% endif %}

            {# breaking the form into sections #}
            {{ form.media }}
            {% for fieldset in form.iter_fieldsets %}
            <fieldset>
{#                <legend class="p-3 bg-secondary text-white">{{ fieldset.name }}</legend>#}
                {% for field in fieldset.fields %}
                    {% if field|get_type == "list" %}
                        <div class="field-group row mb-3">
                            {% for f in field %}
                                {% if f|get_type == "dict" %}
                                    <div class="col form-group">
                                        <label class="form-label" aria-label="{{ f.name }}">{{ f.name }}</label>
                                        {% for sf in f.fields %}
                                            {% if sf|get_type == "list" %}
                                                <div class="field-group row mb-3">
                                                    {% for s in sf %}
                                                        <div class="col form-group">
                                                            {{ s }}
                                                            {% if s.errors %}
                                                            {{ s.errors }}
                                                            {% endif %}
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                            {% else %}
                                                <div class="col">
                                                    {{ sf }}
                                                    {% if sf.errors %}
                                                    {{ sf.errors }}
                                                    {% endif %}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% else %}
                                <div class="col form-group">
                                    <label for="id_{{ f.name }}" class="form-label">{{ f.label }}</label>
                                    {{ f }}
                                    {% if f.errors %}
                                    {{ f.errors }}
                                    {% endif %}
                                </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="form-group mb-3">
                            <label for="id_{{ field.name }}" class="form-label">{{ field.label }}</label>
                            {{ field }}
                            {% if field.errors %}
                                {{ field.errors }}
                            {% endif %}
                        </div>
                    {% endif %}
                {% endfor %}
            </fieldset>
            {% endfor %}

            <div class="input-group">
                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                <a role="button" class="btn btn-secondary btn-lg" href="{% if action == "add" %}{% url 'customers' %}{% else %}{% url 'customer' customer_pk=customer.pk %}{% endif %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock %}

{% block extra_js %}
<script src="{% static 'webpack/src/js/addr_script.js' %}"></script>
<script
    src="https://maps.googleapis.com/maps/api/js?key={{ map_api_key }}&loading=async&libraries=places&callback=initAutocomplete"
    async defer
>
</script>
{% endblock %}