{% extends 'theme/base.html' %}

{% block content %}
	<div class="d-flex justify-content-center">
        <h5>Add Note</h5>
    </div>

    <form id="notesForm" method="POST" action="{% url 'add-note' customer_pk=activity.client.pk activity_pk=activity.pk %}">
        {{ form.media }}
        {% csrf_token %}

        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p class="error">{{ error }}</p>
            {% endfor %}
        {% endif %}

        {% for field in form %}
            {% if not field.is_hidden %}
            <div class="form-group mb-3">
                <label for="id_{{ field.name }}" class="form-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                    <div class="errors">
                    {% for error in field.errors %}
                        <span class="error">{{ error }}</span>
                    {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}

        <button id="submitBtn" type="submit" class="btn btn-primary w-100">Submit</button>
    </form>
{% endblock %}